In [1]:
import pandas as pd

In [4]:
# Replace with the correct path to your salary dataset
df = pd.read_csv('C://Users//USER//Documents//Salaries.csv')

C:\Users\USER\AppData\Local\Temp\ipykernel_10408\3071063900.py:2: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C://Users//USER//Documents//Salaries.csv')

In [5]:
# View the first few rows of the data
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [7]:
# check the shape
df.shape

(148654, 13)

In [8]:
# check missing value 
df.isnull().sum()

Id                       0
EmployeeName             0
JobTitle                 0
BasePay                605
OvertimePay              0
OtherPay                 0
Benefits             36159
TotalPay                 0
TotalPayBenefits         0
Year                     0
Notes               148654
Agency                   0
Status              110535
dtype: int64

In [9]:
# dropping unwanted col
df.drop(['Status','Notes','Benefits'],axis =1, inplace=True)

In [10]:
df.isnull().sum()

Id                    0
EmployeeName          0
JobTitle              0
BasePay             605
OvertimePay           0
OtherPay              0
TotalPay              0
TotalPayBenefits      0
Year                  0
Agency                0
dtype: int64

In [11]:
# drop missing val
df.dropna(inplace=True)

In [30]:
# Create Employee Function
def get_employee_details(name):
    try:
        # Look for the employee by name in the dataset
        employee = df[df['EmployeeName'].str.contains(name, case=False, na=False)]
        if employee.empty:
            return f"Employee {name} not found."
        return employee
    except Exception as e:
        return f"An error occurred: {e}"

# Test the function
print(get_employee_details('GARY JIMENEZ'))

   Id  EmployeeName                         JobTitle    BasePay OvertimePay  \
1   2  GARY JIMENEZ  CAPTAIN III (POLICE DEPARTMENT)  155966.02   245131.88

    OtherPay   TotalPay  TotalPayBenefits  Year         Agency
1  137811.38  538909.28         538909.28  2011  San Francisco

In [31]:
# Create a dictionary from the dataset
employee_dict = df.set_index('EmployeeName').T.to_dict()

# Access details of a specific employee
def get_employee_from_dict(name):
    try:
        return employee_dict[name]
    except KeyError:
        return f"No employee found with the name: {name}"

# Example usage
print(get_employee_from_dict("GARY JIMENEZ"))

C:\Users\USER\AppData\Local\Temp\ipykernel_10408\675163622.py:2: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  employee_dict = df.set_index('EmployeeName').T.to_dict()

{'Id': 2, 'JobTitle': 'CAPTAIN III (POLICE DEPARTMENT)', 'BasePay': 155966.02, 'OvertimePay': 245131.88, 'OtherPay': 137811.38, 'TotalPay': 538909.28, 'TotalPayBenefits': 538909.28, 'Year': 2011, 'Agency': 'San Francisco'}

In [33]:
def get_employee_details_with_error_handling(name):
    try:
        employee_data = df[df['EmployeeName'].str.contains(name, case=False, na=False)]
        if employee_data.empty:
            raise ValueError(f"Employee '{name}' not found.")
        return employee_data
    except ValueError as ve:
        return str(ve)
    except Exception as e:
        return f"An unexpected error occurred: {e}"

# Example usage
print(get_employee_details_with_error_handling("john"))

            Id          EmployeeName  \
13          14           JOHN MARTIN
26          27           JOHN HANLEY
33          34            JOHN TURSI
93          94           JOHN MURPHY
112        113         JOHN HALEY JR
...        ...                   ...
148436  148437      John E Mcdonnell
148473  148474       John Brightbill
148534  148535      Carina L Johnson
148580  148581  Johnmark L Henderson
148631  148632       Andre M Johnson

                                                JobTitle    BasePay  \
13                                     DEPARTMENT HEAD V  271329.03
26                             CAPTAIN, FIRE SUPPRESSION    92080.8
33                    INSPECTOR III, (POLICE DEPARTMENT)  104861.39
93                       CAPTAIN III (POLICE DEPARTMENT)  215914.03
112     DEPUTY DIRECTOR II - MUNICIPAL TRANSPORTATION AG  220115.22
...                                                  ...        ...
148436                                 Recreation Leader     206.40
148473                      Public Svc Aide-Public Works     105.90
148534                                     Special Nurse       0.00
148580                                 Recreation Leader      52.13
148631                       Communications Dispatcher 1       0.00

       OvertimePay   OtherPay   TotalPay  TotalPayBenefits  Year  \
13             0.0   21342.59  292671.62         292671.62  2011
26         40008.0  133695.76  265784.56         265784.56  2011
33        50227.61  103499.39  258588.39         258588.39  2011
93             0.0   12293.83  228207.86         228207.86  2011
112            0.0      237.0  220352.22         220352.22  2011
...            ...        ...        ...               ...   ...
148436        0.00       6.88     213.28            215.42  2014
148473        0.00       0.00     105.90            180.77  2014
148534        0.00     101.50     101.50            102.52  2014
148580        0.00       0.00      52.13             52.65  2014
148631        0.00       0.00       0.00              0.00  2014

               Agency
13      San Francisco
26      San Francisco
33      San Francisco
93      San Francisco
112     San Francisco
...               ...
148436  San Francisco
148473  San Francisco
148534  San Francisco
148580  San Francisco
148631  San Francisco

[3281 rows x 10 columns]

In [34]:
import zipfile
import os

def export_employee_details_to_csv(name):
    employee_data = get_employee_details(name)
    if isinstance(employee_data, pd.DataFrame):
        csv_filename = f"{name}_details.csv"
        zip_filename = "Employee_Profile.zip"
        
        # Export to CSV
        employee_data.to_csv(csv_filename, index=False)
        
        # Zip the CSV file
        with zipfile.ZipFile(zip_filename, 'w') as zipf:
            zipf.write(csv_filename)
        
        # Clean up the CSV file
        os.remove(csv_filename)
        
        return f"Details of {name} have been exported and zipped."
    else:
        return employee_data

# Example usage
print(export_employee_details_to_csv("JOHN"))

Details of JOHN have been exported and zipped.